body {
  font-family: sans-serif;
  padding: 30px;
}

.patient-card {
  background: #fffdf7;
  border: 2px solid #eee;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
  line-height: 1.8;
}

#test-list {
  margin-top: 10px;
  padding-left: 20px;
  line-height: 1.6;
  list-style: square;
}


.modal {
  position: fixed;
  display: none;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
}

.modal-content button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
}


#reject-modal button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#reject-modal button:hover {
  background-color: #d32f2f;
}
